* {
  box-sizing: border-box;
}
.filters-group-container {
}
.list-container {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}
.search-input-container {
  width: 70%;
  height: 30px;
  background-color: #f1f5f9;
  border-radius: 5px;
  padding: 10px;
  color: #475569;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-search-input {
  background-color: transparent;
  border: none;
  width: 80%;
  height: 25px;
  outline: none;
}
.search-icon {
  color: #475569;
  height: 20px;
  margin-left: 20px;
}
.category-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.unorder-category-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0px;
}
.category-heading {
  color: #0f172a;
  font-family: roboto;
  font-size: 17px;
}
.category-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  padding-left: 0px;
  margin-bottom: 10px;
}
.category-text {
  font-family: roboto;
  color: #475569;
  padding: 0px;
  margin: 0px;
}
.rating-img {
  height: 20px;
  padding: 0px;
  margin: 0px;
}
.rating-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.rating-text {
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.customized-text {
  color: #0967d2;
}
.clear-filter-btn {
  background-color: transparent;
  border: #0967d2 1px solid;
  border-radius: 5px;
  padding: 5px;
  color: #0967d2;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Write your CSS here */
